.box {

}

.row {
  
}

.add-button {
  height: 28px;
  width: 28px;
  cursor: pointer;
  background: url(/assets/plus.svg) center center no-repeat;
  background-size: 24px auto;
}

.remove-button {
  height: 28px;
  width: 28px;
  cursor: pointer;
  background: url(/assets/trash.svg) center center no-repeat;
  background-size: 24px auto;
  flex-grow: 0;
  flex-shrink: 0
}