.notice {
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.025em;

  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.warning {
  composes: notice;
  color: red;
}

.accent {
  composes: notice;
  color: #24b10e;
}