.panel {
  position: relative;
  display: flex;
  width: 100%;
}

.icon {
  min-width: 20px;
  min-height: 20px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.toggle {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: auto;
  height: 32px;
  padding: 0 12px;
  font-size: 12px;
  border: 1px solid rgba(178, 187, 213, 0.5);
  color: #222a41;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  color: #333;
  background-image: linear-gradient(to top, #fafafc, #ffffff);
}

.toggle:hover {
  box-shadow: 0 1px 2px 0 #e6e8f0;
}

.toggleIcon {
  composes: icon;
  margin: 0 3px 0 -3px;
  background: url(/assets/filter.svg) center center no-repeat;
}

.filterTags {
  display: flex;
  flex-wrap: wrap;
  margin-left: 16px;
}

.filterTag {
  display: flex;
  align-items: center;
  width: auto;
  max-width: 200px;
  height: 32px;
  padding: 0 12px;
  margin-right: 8px;
  font-size: 12px;
  font-weight: 500;
  background: #dbe9ff;
  color: #498eff;
  border-radius: 4px;
  outline: none;
}

.filterLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filterRemoveButton {
  flex-shrink: 0;
  height: 16px;
  width: 16px;
  border: 0;
  outline: none;
  padding: 0;
  box-shadow: none;
  margin-left: 10px;
  background: url(/assets/x-blue.svg) center center no-repeat;
  cursor: pointer;
}

.filterRemoveButton:hover {
  opacity: 0.8;
}

.filterClearTag {
  background-color: #f5626233;
  color: #f56262;
  order: -1;
}

.filterClearTag .filterRemoveButton {
  background: url(/assets/x-red.svg) center center no-repeat;
}

.popup {
  z-index: 5;
  top: calc(100% + 10px);
  width: 600px;

  display: flex;
}

.popupClose {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 24px;
  width: 24px;
  border: 0;
  outline: none;
  padding: 0;
  box-shadow: none;
  background: url(/assets/x.svg) center center no-repeat;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.popupClose:hover {
  opacity: 0.8;
}

.nav {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 170px;
  padding: 0;
  margin: 0;
  background-color: #f5f6fa;
  border-right: 1px solid #e6e8f0;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
}

.navItem {
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding: 0 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e8f0;
  cursor: pointer;
  color: #707ea7;
  font-size: 14px;
  font-weight: 500;
  list-style-type: none;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}

.navItem:hover,
.activeNavItem {
  background-color: white;
  color: #222a41;
}

.filterConfig {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  width: 100%;
  min-height: 100%;
  min-width: 0;
  font-size: 14px;
}

.filterContent {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 24px 24px 32px;
  color: #222a41;
}

.filterHeader {
  color: #182033;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
}

.filterVariant {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.filterVariantSelect {
  width: 140px;
  margin-right: 15px;
}

.filterKeySelect {
  width: 160px;
  margin-right: 5px;
}

.filterActions {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border-top: 1px solid #e6e8f0;
  margin-top: auto;
  padding: 16px 24px;
}

.filterActionsButtonWrap {
  height: 40px;
  padding: 0;
}

.filterActionsButton {
  height: 40px;
  font-size: 12px;
  font-weight: 500;
  padding: 0 16px;
}

.filterActionSecondary {
  border: 1px solid #dbdde7;
}

.optionsSelect {
  /*flex-grow: 1;*/
  white-space: pre;
}

.option {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.filterItemTags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.filterItemTagWrapper {
  width: calc((100% - 32px) / 3);
  margin: 15px 16px 0 0;
}

.filterItemTagWrapper:nth-child(3) {
  margin-right: 0;
}

.filterItemTag {
  position: relative;
  display: flex;
  align-items: center;
  height: 36px;
  border-radius: 4px;
}

.filterItemIcon {
  composes: icon;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 3px;
}

.filterItemTitle {
  padding: 0 10px;
  margin: 0 auto;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filterItemRemoveButton {
  position: absolute;
  top: -8px;
  right: -8px;
  height: 16px;
  width: 16px;
  border: 1px solid #dbdde7;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0 rgba(27, 35, 56, 0.08);
  outline: none;
  padding: 0;
  background-color: white;
  background-image: url(/assets/x.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.filterItemRemoveButton:hover {
  transform: scale(1.1);
}
