.box {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: #0099cc;
  cursor: pointer;
  align-self: center;
  text-transform: capitalize;
  letter-spacing: initial;
  text-decoration: underline;
}