@import "../global/mixins.css";

.item {
    /*width: 180px;*/
    /*height: 193px;*/
    /*box-shadow: inset 0 0 0 1px #e7e9ed;*/

    width: 180px;
    height: 193px;
    position: relative;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}

.inner {
    overflow: hidden;
    width: 178px;
    height: 191px;
    border-radius: 4px;
    position: relative;
    border: 1px solid #bcbec0;
    background: #e7e9ed;
}

.item[data-state="auto"] .inner {
    border: 1px solid #4D91FC;
    background: white;
}

.item[data-state="auto"] .footer {
    background: #4D91FC;
    color: white;
}

.item[data-state="auto"] .icon {
    width: 76px;
    height: 76px;
    -webkit-filter: none;
    filter: none;
    opacity: initial;
}

.item[data-state="inactive"] .inner {
    border: 1px solid #bcbec0;
    background: #e7e9ed;
}

.item[data-state="inactive"] .footer {
    background: #bcbec0;
    color: white;
}

.item[data-state="inactive"] .icon {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
    width: 76px;
    height: 76px;
}

.item[data-state="inactive"] .status {
    user-select: none;
}

.item[data-state="irrelevant"] .inner {
    border: 1px solid #83858a;
    background: #a5a7aa;
}

.item[data-state="irrelevant"] .footer {
    background: #83858a;
    color: white;
}

.item[data-state="irrelevant"] .icon {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
    width: 76px;
    height: 76px;
}

.item[data-state="irrelevant"] .status {
    user-select: none;
}

.item[data-state="start"]:hover .inner {
    border: 1px solid #83858a;
    background: #a5a7aa;
}

.item[data-state="start"]:hover .footer {
    background: #83858a;
}

.item .footer {
    background: #bcbec0;
    color: white;
}

.item .icon {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
    width: 76px;
    height: 76px;
}

.item .status {
    user-select: none;
}

.item[data-state="manual"] .inner {
    border: 1px solid #FFA400;
    box-shadow: inset 0 0 0 1px #FFA400;
    background: white;
}

.item[data-state="manual"] .footer {
    background: #FFA400;
    color: #ffffff;
}

.item[data-state="manual"] .icon {
    width: 76px;
    height: 76px;
    -webkit-filter: none;
    filter: none;
    opacity: initial;
}

.head {
    font-size: 14px;
    font-weight: 600;
    color: #787c84;
    line-height: 28px;
    letter-spacing: -0.030em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.footer {
    height: 30px;
    background: #f8f8fa;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    color: #787c84;
}

.footer-state {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.030em;
    line-height: 30px;
    margin-left: 15px;
}

.footer-button {
    float: right;
    width: 40px;
    height: 100%;
    cursor: pointer;
    background: url(/assets/indicator-icons/menu_button.svg) center center no-repeat;
    background-size: 20px auto;
}

.footer-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.content {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-wrap {
    width: 98px;
    height: 98px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 98px;
    height: 98px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.status {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: center;
    color: #787c84;
}

.menu {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    /**background: rgba(255, 255, 255, 0.9);**/
    background: rgb(255, 255, 255);
    z-index: 2;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.15);
    padding: 2px 0;
    transform: translate3d(0);
    transition: transform 200ms;

    border: none;
    border-radius: 0 0 4px 4px;

    top: inherit;
    min-height: inherit;
}

.menu[hidden] {
    display: block;
    transform: translate3d(0, 101%, 0);
}

.menu-item {
    color: #787c84;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.030em;
    line-height: 26px;
    cursor: pointer;
    text-align: right;
    padding-right: 10px;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.progress-box {
    /*overflow: hidden;*/
    position: absolute;
    width: 94px;
    height: 94px;
    top: 2px;
    left: 2px;
    bottom: 0;
    right: 0;
    /*margin: auto;*/
}

.progress-circle {
    stroke: #24b10e;
    stroke-width: 5px;

    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.progress-circle-back {
    stroke: #e7e9ed;
    stroke-width: 5px;
}

.progress-svg {
    width: 94px;
    height: 94px;
}

.status-popup {
    width: 180px;
    height: 193px;

    box-sizing: border-box;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.status-popup-row {
    padding: 11px 0;
    width: 100%;
}

.status-popup-title {
    color: #273142;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.status-buttons {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 769px) {
    .item {
        margin-left: 7.5px;
        margin-right: 7.5px
    }
}

a:link {
    text-decoration: none;
}

.add-new-plus {
    width: 98px;
    height: 98px;
    background: url(/assets/add-square-button.svg) center center no-repeat;
    background-size: contain;
    position: absolute;
    cursor: pointer;
}

.provider-icon {
    height: 20px;
    width: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
    position: relative;
    top: 33px;
    left: 140px;
}