.wrap {
    padding: 15px;
}

.noPadding {
    padding: 0;
}

.fixedMode .tableRowGroup {
  flex-grow: initial!important;
}

.fixedMode .body {
  overflow-x: hidden!important;
}

.table:global(.ReactTable) {
    width: 100%;
    border: 0;
}

.table * {
    outline: none!important;
}

.foot {
    box-shadow: none!important;
}

.headRow {
    min-height: 60px;
    border-radius: 2px;
    background-color: #65b7f3;
    background-clip: padding-box;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

.headRow .cellContent {
    background-color: #65b7f3;
    text-align: left;
}

.headRow .divider {
    border-right: 1px solid white!important;
}

.headRow .cell:global(.-sort-asc)::after,
.headRow .cell:global(.-sort-desc)::after {
    content: '';
    position: absolute;
    top: calc(50% - 2.5px);
    right: 2px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.headRow .cell:global(.-sort-asc)::after {
    border-bottom: 5px solid white;
}

.headRow .cell:global(.-sort-desc)::after {
    border-top: 5px solid white;
}

.tableRowGroup {
    border-bottom: 0!important;
}

.tableRow {
    min-height: 60px;
    border-radius: 2px;
    background-color: #ffffff;
    background-clip: padding-box;
    border-top: 5px solid transparent;
    font-size: 14px;
    color: #354052;
}

.tableRow.clickable {
    cursor: pointer;
}

.tableRow.striped,
.tableRow.striped .cellContent {
  background-color: #F1F4F8;
}

.tableRow .divider {
    border-right: 1px solid #b2bbd5!important;
}

.footRow {
    min-height: 60px;
    border-radius: 2px;
    border-top: 5px solid transparent;
    font-size: 14px;
    background-color: #65dc8a;
    background-clip: padding-box;
    color: #354052;
    font-weight: 600;
}

.footRow .cellContent {
    background-color: #65dc8a;
    color: #354052;
}

.footRow .divider {
    border-right: 1px solid white!important;
}

.footRow .cell:global(.-sort-asc)::after,
.footRow .cell:global(.-sort-desc)::after {
    content: none;
}


.cell {
    border: 0!important;
    background-color: transparent!important;
    padding: 0!important;
    box-shadow: none!important;
}

.cellContent {
    display: flex;
    height: 100%;
    padding: 5px 10px;
    justify-content: flex-start;
    align-items: center;
    white-space: normal;
    background-color: white;
}

.pagination-button {
    max-width: 200px;
    margin: 20px auto;
}

.resizer {
    z-index: 2!important;
}

/* small table */

.smallHeader {
    box-shadow: none!important;
}

.smallRow {
    min-height: 38px;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid #f2f2f2;
    font-weight: 600;
}

.smallHeadRow {
    composes: smallRow;
}

.smallHeadRow .smallCell {
    font-size: 16px;
    background-color: transparent;
    color: #b2bbd5;
}
