.text {
    font-size: 14px;
    color: #354052;
    display: inline-flex;
    white-space: pre;
    margin-right: 3px;
}

.tagger {
    composes: text;
    font-weight: 600;
}

.campaign {
    composes: text;
    text-decoration: underline;
    font-weight: 600;
}